:root {
    --bg: #fff;
    --bg-2: #f1f1f1;

    --link-color: black;
    --text-color: #000;
    --text-color-2: #333;
    --text-color-3: #777;

    --shadow: 0 10px 20px -5px rgb(169, 169, 169);
}

[data-theme="dark"] {
    --bg: #2a2a2a;
    --bg-2: #1a1a1a;

    --link-color: green;
    --text-color: #fff;
    --text-color-2: #ddd;
    --text-color-3: #888;

    --shadow: 0 10px 20px -5px rgb(0, 0, 0);
}

html {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--bg);
}

body {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--link-color);
}

#theme-icon {
    height: auto;
    width: 5%;
    min-width: 32px;
    min-height: 32px;
    max-width: 64px;
    max-height: 64px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    max-width: 256px;
    max-height: 256px;
    min-width: 64px;
    min-height: 64px;
    width: 10%;
    margin: 1vh 0;
    border-bottom: var(--text-color-2) 1vh solid;
    transition: transform 0.5s ease-in-out;
}

#logo:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

.title {
    font-size: calc(30px + 2vw);
    color: var(--text-color);
    margin: 2vh 0;
}

.subtitle {
    font-size: calc(18px + 1vw);
    color: var(--text-color-2);
    margin: 1vh 0;
}

#people {
    width: 65%;
    min-width: 120px;
    border-top: var(--text-color-3) 0.5vh solid;
    align-self: center;
    height: 100%;
}

.people-name {
    font-size: calc(8px + 0.5vw);
    color: #000;
    padding-left: 1vw;
}

#people-info-img {
    float: right;
    min-width: 48px;
    max-width: 96px;
    min-height: 48px;
    max-height: 96px;
    width: 10vw;
    margin: 0 0 3vh 100%;
    height: auto;
    z-index: -1;
    transition: transform 1s ease-in-out;
}

.people-info-social {
    min-width: 16px;
    max-width: 48px;
    min-height: 16px;
    max-height: 48px;
    width: 2.5vw;
    height: auto;
    margin-right: 1vw;
}

#socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 1vh 0;
    width: 20%;
    padding: 0 80%;
}

.social {
    min-width: 16px;
    max-width: 64px;
    min-height: 16px;
    max-height: 64px;
    width: auto;
    height: 3vh;
    transition: transform 0.5s ease-in-out;
}

.social:hover {
    transform: scale(1.3);
    transition: transform 0.5s ease-in-out;
}

.repos {
    display: flex;
    margin: auto auto 2vh;

    width: 95%;
    height: 10%;
    padding-top: 10%;
    padding-bottom: 8%;
    overflow-x: scroll;
    overflow-y: hidden;
}


*::-webkit-scrollbar {
    height: 2.5vh;
}

*::-webkit-scrollbar-track {
    background: var(--bg);
}

*::-webkit-scrollbar-thumb {
    background: var(--bg-2);
}

#pinned_repos {
    margin-bottom: 5vh;
}

.repo {
    transition: transform 1s ease-in-out;
    padding: 0;
    min-width: 256px;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    vertical-align: middle;
    height: 100%;
}

.repo-img {
    width: 20vh;
    min-width: 160px;
    box-shadow: var(--shadow);
    transition: transform 1s ease-in-out;
    white-space: nowrap;
    display: inline-block;
}

.repo:hover {
    transform: scale(2.1);
    transition: transform 1s ease-in-out;
}

.repo:hover:is(:last-child) {
    transform: scale(2.1) translateX(-20%);
}

.repo:hover:is(:first-child) {
    transform: scale(2.1) translateX(20%);
}

#pinned_repos {
    text-align: center;
}

#people-info-name {
    font-size: calc(12px + 0.25vw);
}

#people-indoor {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 4vh;
    min-height: 128px;
    border: black 0.5vw solid;
    height: 100%;
}

#people-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 25%;
    width: 40%;
}

#people-info {
    background-color: #ddd;
    width: 60%;
    height: 100%;
    padding-left: 1vw;
}

.people-box {
    background-color: #eee;
    margin: 0;
    min-width: 64px;
    height: 25%;
    width: 100%;
    display: flex;
}


.people-text {
    display: flex;
    flex-direction: row;
    margin: 0 0 1vh;
    font-size: calc(12px + 0.3vw);
}

.people-text-long {
    font-size: calc(10px + 0.3vw);
}

.people-img {
    border-radius: 50%;
    border: var(--text-color) solid 2px;
    max-width: 64px;
    min-height: 12px;
    max-height: 64px;
    width: calc(12px + 2vw + 1.5vh);
    height: auto;
    transition: transform 0.5s ease-in-out;
    margin-left: 1vw;
}

.people-img:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

#people-outdoor {
    width: 100%;
    height: calc(160px + 20vh + 10vw);
    margin-bottom: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}