<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {% if page.title %}
            {{ page.title }} | {{ site.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>


    <meta name="twitter:title" content="{{ page_title }}">
    <meta name="twitter:card" content="{{ page.summary }}">

    <meta name="theme-color" content="#0e2100">
    <meta name="og:title" content="{{ page_title }}">
    <meta name="og:description" content="{{ page.summary }}">
    <meta name="og:type" content="website">
    <meta name="og:url" content="{{ page.url }}">
    <meta name="og:image" content="https://teaminceptus.us/favicon.png">
    <meta name="og:site_name" content="{{ site.title }}">
    <meta name="og:locale" content="en_US">

    <meta name="twitter:title" content="{{ page_title }}">
    <meta name="twitter:site" content="@teaminceptus">
    <meta name="twitter:description" content="{{ page.summary }}">
    <meta name="twitter:image" content="https://teaminceptus.us/favicon.png">
    
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/mobile.css">

</head>