---
layout: default
---

<div class="about">

    <h1 class="about-title">About Team Inceptus</h1>

    <div style="display: flex; justify-content: center">
        <div class="about-content">
            <p>{{ content }}</p>
        </div>
    </div>

    <div style="display: flex; justify-content: center">
        {% for member in site.data.members %}
        <div class="about-member" onmouseover="onHover('{{ member.description }}')" onmouseout="awayHover()">
            <p class="about-member-name"><img src="{{ member.icon }}" alt="" class="about-member-icon">{{ member.name }}</p>
        </div>

        {% endfor %}
    </div>

    <p id="member-text"></p>

</div>