---
layout: default
---

<div class="box">

    <img id="logo" src="/favicon.png" alt="Logo">
    <h1 class="title">Team Inceptus</h1>
    <h2 class="subtitle">Minecrafting since 2021</h2>
    <div id="socials">
        {% for social in site.data.socials %}
        <a class="social" href="{{ social.url }}" target="_blank" title="{{ social.name }}">
            <img class="social" src="/assets/social/{{ social.icon }}" alt="{{ social.name }}">
        </a>
        {% endfor %}
    </div>

</div>

<div id="people-outdoor">
    <div id="people">
        <h2 class="subtitle">Our Team</h2>

        <div id="people-indoor">
            <div id="people-boxes">
                {% for mem in site.data.people %}
                <div class="people-box"  id="people-box-{{ mem.name }}" title="{{ mem.name }}" onclick="loadPeople(this, '{{ mem.name }}')">
                    <div style="display: flex; align-items: center; justify-content: center; ">
                        <img class="people-img" src="/assets/people/{{ mem.icon | downcase }}" alt="{{ mem.name }}">
                        <h3 class="people-name">{{ mem.name }}</h3>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div id="people-info">
                <img id="people-info-img" src="" alt="Unknown">
                <h3 id="people-info-name">Unknown</h3>
                <div class="people-text">
                    <strong style="margin-right: 5px;">Languages:</strong>
                    <p id="people-info-langs" class="people-text"></p>
                </div>
                <p id="people-info-desc" class="people-text">Unknown</p>
                <p id="people-info-long-desc" class="people-text-long">Unknown</p>

                <p id="people-info-social" class="people-text"></p>
            </div>
        </div>
    </div>
</div>

<div>
    <h1 class="title" id="pinned_repos">Pinned Repositories</h1>
    <div class="repos">
        {% assign repos = site.data.repos %}
        {% for repo in repos %}
        <div class="repo">
            <a href="https://github.com/{{ repo.git }}" target="_blank" title="{{ repo.name }}">
                <img src="https://opengraph.githubassets.com/1/{{ repo.git }}" class="repo-img" alt="{{ repo.name }}">
            </a>
        </div>
        {% endfor %}
    </div>
</div>