---
layout: default
---

<div class="statistics">
    <h1 class="statistics-title">Team Inceptus Statistics</h1>

    {% assign stats = site.data.statistics | sort: "name" %}
    {% for stat in stats %}

    {% if stat.description %}
    {% assign description = stat.description %}
    {% else %}
    {% assign description = stat.name %}
    {% endif %}

    {% if stat.url %}
    <a title="{{ description }}" href="{{ stat.url }}" target="_blank"><img src="{{ stat.icon }}" alt="" class="statistics-item-icon"></a>
    {% else %}
    <img src="{{ stat.icon }}" alt="" class="statistics-item-icon" title="{{ description }}">
    {% endif %}
    <div style="display: flex; justify-content: center;" title="">
        <p title="{{ description }}" class="statistics-item number" function="{{ stat.function }}" id="{{ stat.name }}-number">
        <p title="{{ description }}" class="statistics-item">&nbsp;{{ stat.name }}</p>
    </div>
    {% endfor %}

</div>